<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>

<body>
    <div>
        <h3>Oh, in case I don't see you,Good afternoon, good evening,and good night.</h3>
        <h3>(못볼지도 모르니 미리 인사할게요.굿 애프터눈, 굿 이브닝, 굿 나잇.)</h3>
    </div>
</body>

</html>